[submodule "TinyML-MNIST-Example"]
	path = TinyML-MNIST-Example
	url = https://github.com/tum-ei-eda/TinyML-MNIST-Example
[submodule "TinyML-Sine-Example"]
	path = TinyML-Sine-Example
	url = git@github.com:tum-ei-eda/TinyML-Sine-Example.git
[submodule "TinyML-KWS-Example"]
	path = TinyML-KWS-Example
	url = git@github.com:tum-ei-eda/TinyML-KWS-Example.git
[submodule "TinyML-CIFAR10-Example"]
	path = TinyML-CIFAR10-Example
	url = git@github.com:tum-ei-eda/TinyML-CIFAR10-Example.git
[submodule "TinyML-Graph-Example"]
	path = TinyML-Graph-Example
	url = git@github.com:tum-ei-eda/TinyML-Graph-Example.git
[submodule "TinyML-CNN-Example"]
	path = TinyML-CNN-Example
	url = git@github.com:tum-ei-eda/TinyML-CNN-Example.git
[submodule "TinyMl-Face-Recognition-Example"]
	path = TinyMl-Face-Recognition-Example
	url = git@github.com:tum-ei-eda/TinyMl-Face-Recognition-Example.git
